@if (composition.product) {
  <div class="composition__wrapper">
    <div class="composition-container">
      <a [routerLink]="['/product/', composition.product.id]" class="composition__img">
        <img [src]="composition.product.imagePath" [alt]="composition.product.name" class="composition__img">
      </a>
      <p>{{ composition.product.name }}</p>
      <div class="composition-price">
        <p>Цена: {{ composition.product.cost }} ₽</p>
        <p>Количество: {{ composition.product.count }} шт.</p>
      </div>
    </div>
  </div>
} @else {
}
