@if (composition.product) {
  <div class="composition__wrapper">
    <div class="composition-container">
      <div class="composition__img">
        <img [src]="composition.product.imagePath" [alt]="composition.product.name" class="composition__img">
      </div>
      <p>{{ composition.product.name }}</p>
      <div class="composition-price">
        <p>{{ composition.product.cost }}</p>
        <p>{{ composition.product.count }}</p>
      </div>
    </div>
    <div class="composition-interaction">
      <button>DELETE</button>
    </div>
  </div>
} @else {
}
