:host {
}

.container {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 100%;
  background: var(--background-color);

}

.mainArea {
  width: 100%;
  padding: 10px;
  position: relative;
}
