<div class="search-bar">
  <div class="components">
    <div class="category">
      Category
    </div>
    <div class="search">
      <input placeholder="Введите текст" id="search" class="search-input">
    </div>
  </div>
  <div class="search-btn">
    <svg width="24" height="24" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M35 35L26.6066 26.6066M26.6066 26.6066C29.3211 23.8921 31 20.1421 31 16C31 7.71573 24.2843 1 16 1C7.71573 1 1 7.71573 1 16C1 24.2843 7.71573 31 16 31C20.1421 31 23.8921 29.3211 26.6066 26.6066Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </div>
</div>
