:host {
  display: block;
  width: 100%;
}

.filter__wrapper {
  display: flex;
  flex-direction: column;
  width: 10dvw;
  margin: 10px;
  justify-items: center;
}

.filter-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 20px;
}

.filter__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--light-color);
  overflow: hidden;
  flex-wrap: wrap;
}

.link {
  text-decoration: none;
  color: var(--dark-color);
}
