:host {
  display: flex;
  flex-direction: row;
}
.product-container {
  cursor: pointer;
  width: 100%;
  text-decoration: none;
  outline: none;
  color: #000000;
}

:host:hover {
  opacity: 0.9;
  scale: 0.99;
  transition: 0.3s;
}

.container__img {
  border-radius: 10px 10px 0 0;
  width: 100%;
}

.product {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 9px 17px -6px;
  height: 100%;
}

.details-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
