:host {
  display: block;
  width: 100%;
}

.search-result__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-result-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}

.search-result__image {
  width: 40px;
  height: 40px;
}

.search-result__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.search-result__price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.link {
  text-decoration: none;
  color: var(--dark-color);
}
