<ng-container>
  <div class="profile__wrapper">
    <div class="profile_menu">
      <h3 class="h3">Profile</h3>
      <div class="menu-items">
        <button (click)="onButtonClick(OrderComponent)" class="profile-menu__buttons">Заказы</button>
        <button (click)="onButtonClick(CartComponent)" class="profile-menu__buttons">Корзина</button>
      </div>
    </div>
    <div class="profile-container" [ngSwitch]="click">
      <app-order *ngSwitchDefault></app-order>
      <app-cart *ngSwitchCase="CartComponent"></app-cart>
    </div>
  </div>
</ng-container>
