<ng-container>
  <div class="profile__wrapper">
    <div class="profile_menu">
      <h3 class="h3">Ваш профиль</h3>
      <div class="menu-items">
        <button (click)="onButtonClick(CartLayout)" class="profile-menu__buttons">Корзина</button>
        <button (click)="onButtonClick(OrderLayout)" class="profile-menu__buttons">Заказы</button>
      </div>
    </div>
    <div class="profile-container" [ngSwitch]="click">
      <app-cart-layout
        *ngSwitchDefault
        [cart]="cart"
      ></app-cart-layout>
      <app-order-layout
        *ngSwitchCase="OrderLayout"
        [orders]="orders"
      ></app-order-layout>

    </div>
  </div>
</ng-container>
